.errorBox {
    color: red;
    background-color: #ffe0e0;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
  }
  
  .successBox {
    color: green;
    background-color: #e0ffe5;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
  }
  