.quantityPicker {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.button {
    border: none;
    background-color: green;
    cursor: pointer;
    font-size: 10px;
    
}

.count {
    font-size: 20px;
    font-weight: bold;
    height: 22px;
}
